div{
  background-color: white;
  padding: 14px 30px 30px;
  border: 10px;
  border-radius:10px;
  width: 600px;
  height: 200px;
  margin: 80px auto 120px auto;
}
a{
  text-decoration: none;
  font-size: medium;
}
h1,p,a{
  font-family: "Segoe UI",sans-serif;
}
body{
  background-color:#f0f0f2;
  } 